<H1> CONTACTOS</H1>
<form class="form"  [formGroup]="personaForm" id="ngForm" #formtemp="ngForm" (submit)="agregar(formtemp)">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            minlength="3"
            placeholder="Nombre"
            [(ngModel)]="contact.nombre"
            required
            formControlName="nombre"
            id="nombre"
          />

          <mat-error *ngIf="hasError('nombre', 'required')">Nombre es obligatorio</mat-error>
          <mat-error *ngIf="hasError('nombre', 'minlength')">Nombre debe tener mas de 3 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input
            matInput
            type="text"
            minlength="3"
            placeholder="Apellido/s"
            [(ngModel)]="contact.apellidos"
            formControlName="apellidos"
            required
          />
          <mat-error *ngIf="hasError('apellidos', 'required')">Apellidos es obligatorio</mat-error>
          <mat-error *ngIf="hasError('apellidos', 'minlength')">Apellidos debe tener mas de 3 caracteres</mat-error>
       
        </mat-form-field>
        <mat-form-field>
          <mat-label>Edad</mat-label>
          <input
            matInput
            type="number"
            placeholder="Edad"
            [(ngModel)]="contact.edad"
            formControlName="edad"
            required
          />
          <mat-error *ngIf="hasError('edad', 'required')">Edad es obligatorio</mat-error>
          <mat-error *ngIf="hasError('edad', 'min')">Edad mayor o igual 0</mat-error>
          <mat-error *ngIf="hasError('edad', 'max')">Edad menor o igual 125</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>DNI</mat-label>
          <input
            matInput
            type="text"
            placeholder="NIF (8 números y 1 letra)"
          pattern="[0-9]{8}[A-Za-z]{1}"
            [(ngModel)]="contact.dni"
            formControlName="dni"
            required
          />
          <mat-error *ngIf="hasError('dni', 'required')">DNI es obligatorio</mat-error>
          <mat-error *ngIf="hasError('dni', 'pattern')">Formato DNI inconrrecto</mat-error>
       
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group
            aria-label="Select an option"
            [(ngModel)]="contact.sexo"
            formControlName="sexo"
            required
          >
          <ng-container *ngFor="let s of sexos">
            <mat-radio-button value="{{ s.id }}">{{s.value }}</mat-radio-button >
          </ng-container>
           
          </mat-radio-group>
          <mat-error *ngIf="hasError('sexo', 'required')">Sexo es obligatorio</mat-error>
        </div>
        <mat-form-field>
          <mat-label>Color Favorito</mat-label>
          <mat-select
            placeholder="Color Favorito"
            [(ngModel)]="contact.color"
            formControlName="color"
            required
          >
            <ng-container *ngFor="let favouriteColour of favouriteColours">
              <mat-option value="{{ favouriteColour.id }}">{{
                favouriteColour.value
              }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="hasError('color', 'required')">Color es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cumpleaños</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha Cumpleaños"
            formControlName="cumpleanos"
            [(ngModel)]="contact.cumpleanos"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
          </mat-form-field>
        <mat-form-field>
          <mat-label>Notas</mat-label>
          <input
            matInput
            type="text"
            placeholder="Comentario"
            formControlName="notas"
            [(ngModel)]="contact.notas"
          />
        </mat-form-field>

        <div class="button-row" >
          <button mat-raised-button color="primary" type="submit"   [disabled]="!personaForm.valid || getActualizar()">
            Añadir
          </button>
          <button mat-raised-button color="primary"  (click)="aceptar(formtemp)" type="button"  [disabled]="!personaForm.valid || !getActualizar()">
            Aceptar
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>


<mat-card class="card">
  <h2>Tabla de contactos</h2>
  <table mat-table [dataSource]="contacts" class="mat-elevation-z8" #tabla1>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let contact">{{ contact.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let contact">{{ contact.apellidos }}</td>
    </ng-container>

    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef>Edad</th>
      <td mat-cell *matCellDef="let contact">{{ contact.edad }}</td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let contact">{{ contact.dni }}</td>
    </ng-container>

    <ng-container matColumnDef="cumpleanos">
      <th mat-header-cell *matHeaderCellDef>cumpleanos</th>
      <td mat-cell *matCellDef="let contact">
        {{ contact.cumpleanos | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let contact">{{getColor( contact.color)}}</td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef>Sexo</th>
      <td mat-cell *matCellDef="let contact">{{ getSexo(contact.sexo )}}</td>
    </ng-container>

    <ng-container matColumnDef="notas">
      <th mat-header-cell *matHeaderCellDef>Notas</th>
      <td mat-cell *matCellDef="let contact">{{ contact.notas }}</td>
    </ng-container>

    <ng-container matColumnDef="actualizar">
      <th mat-header-cell *matHeaderCellDef>Actualizar</th>
      <td mat-cell *matCellDef="let j = index">
        <button
          mat-raised-button
          color="primary"
          focusable="false"
          [disabled]="getActualizar()"
          (click)="actualizarFila(j)"
        >
          Actualizar
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef>Borrar</th>
      <td mat-cell *matCellDef="let j = index">
        <button
          mat-raised-button
          color="warn"
          focusable="false"
          [disabled]="getActualizar()"
          (click)="borrarFila(j)"
        >
          Borrar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let contacto; columns: columnas"></tr>
  </table>
</mat-card>
